<div class="overlay" (click)="fecharModal(overlay)" #overlay>
  <div class="modal-content">
    <div class="modal-content__img-content">
      <img
        src="{{ objeto.src }}"
        alt="ui"
        class="modal-content__img-content__img"
      />
    </div>
    <div class="modal-content__container">
      <div class="modal-content__container__header-content">
        <h3 class="modal-content__container__header-content__title">
          {{ objeto.titulo }}
        </h3>
      </div>
      <div class="modal-content__container__description-content">
        <p class="modal-content__container__description-content__text">
          {{ objeto.descricao }}
        </p>
      </div>
      <div class="modal-content__container__buttons-content">
        <button class="modal-content__container__buttons-content__fav {{buttonFavStatus}}" (click)="favoritar()" (mouseover)="feedbackFavHover1()" (mouseleave)="feedbackFavHover2()">
          {{ buttonFavCont }}
        </button>
        <button class="modal-content__container__buttons-content__buy" (click)="comprar()" *ngIf="!objeto.comprado">
          {{ buttonCompCont }}
        </button>
        <div class="modal-content__container__buttons-content__buyed" *ngIf="objeto.comprado">
          Comprado
        </div>
      </div>
    </div>
  </div>
</div>
