<!-- <div *ngFor="let produto of produtos">
  Produto
</div> -->

<section class="section">
  <div class="section__title-content">
    <h2 class="section__title-content__title">PROMOÇÕES</h2>
  </div>
  <div class="container">
    <div class="container__button-content">
      <button class="container__button-content__voltar"></button>
    </div>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <div class="container__button-content">
      <button class="container__button-content__ir"></button>
    </div>
  </div>
</section>
